[submodule "wakibari.github.io"]
    path = wakibari.github.io
	url = https://github.com/blockchain-guru-web3/wakibari.github.io.git

# [submodule "wakibari.github.io"]
#     path = wakibari.github.io
#     url = https://github.com/blockchain-guru-web3/wakibari.github.io.git